<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ '/favicon.ico' | url }}" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link rel="stylesheet" href="{{ '/css/tags.css' | url }}" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1>{{site.title}}</h1>
        <div>{{site.description}}</div>
      </div>
      <a href="{{site.contributing}}" class="btn">Contribute on GitHub</a>
    </header>
    <div class="container">
      <aside class="sidebar">
        <section class="sidebar-group">
          <h2>Tags</h2>
          <ul class="tags-container">
            {%- for tag in metadata.tags -%}
            <li><button is="tag-button" title="{{tag.name}}" value="{{tag.name}}" {%- unless tag.name == 'icons' -%}style="font-family: '{{tag.sample}}'"{%- endunless -%}>{%- if tag.name == 'icons' -%}<i>&hearts;</i>{%- endif -%}{{tag.name}}</button></li>
            {%- endfor -%}
          </ul>
        </section>
        <div class="sidebar-group">
          <h3>Want to help the project?</h3>
          <p>
            Sort by fonts that <button is="tag-button" value="need tags">need tags</button>. Learn <a href="{{site.contributing}}">how to contribute</a>.
          </p>
        </div>
      </aside>
      <main-app class="content" id="content">
        <section class="selects">
          <h2>Filters</h2>
          <div class="select-group-container">
            <div class="select-group">
              <label for="selectedSearch">Filter fonts</label>
              <input type="text" id="selectedSearch" value="" />
            </div>
            <div class="select-group">
              <label for="selectedTag">Tags</label>
              <select data-param="tag" is="filter-select" id="selectedTag">
                <option value="">All tags</option>
                <option id="need tags" value="need tags">need tags</option>
                {%- for option in metadata.tags -%}
                <option id="{{option.name}}" value="{{option.name}}">
                  {{option.name}}
                </option>
                {%- endfor -%}
              </select>
            </div>
            <div class="select-group">
              <label for="selectedCategory">Categories</label>
              <select
                data-param="category"
                is="filter-select"
                id="selectedCategory"
              >
                <option value="">All categories</option>
                {%- for option in metadata.categories -%}
                <option id="{{option}}" value="{{option}}">{{option}}</option>
                {%- endfor -%}
              </select>
            </div>
            <div class="select-group">
              <label for="selectedSubset">Subsets</label>
              <select
                data-param="subset"
                is="filter-select"
                id="selectedSubset"
              >
                <option value="">All subsets</option>
                {%- for option in metadata.subsets -%}
                <option id="{{option}}" value="{{option}}">{{option}}</option>
                {%- endfor -%}
              </select>
            </div>
            <div class="select-group">
              <label for="selectedVariant">Variants</label>
              <select
                data-param="variant"
                is="filter-select"
                id="selectedVariant"
              >
                <option value="">All variants</option>
                {%- for option in metadata.variants -%}
                <option id="{{option}}" value="{{option}}">{{option}}</option>
                {%- endfor -%}
              </select>
            </div>
            <div class="select-group">
              <label for="selectedVariable"
                >Variable font
                <input
                  is="filter-checkbox"
                  type="checkbox"
                  id="selectedVariable"
              /></label>
            </div>
          </div>
        </section>
        <section class="results">
          <div id="font-results"></div>
        </section>
      </main-app>
    </div>
    {% if site.env == 'production' %}
    <script
      src="https://browser.sentry-cdn.com/7.41.0/bundle.tracing.min.js"
      integrity="sha384-o2yGd/Hej06Mkzo+23LGsEgqH9JbnYyroaq5YA7EgamabrwR83McAHkzac6ZFCrx"
      crossorigin="anonymous"
    ></script>
    <script>
      Sentry.init({
        dsn: "https://8446261a1b98432f935915973ca4e2cf@o513158.ingest.sentry.io/4504794281672704",
        release: "{{site.hash}}",
        integrations: [new Sentry.BrowserTracing()],
        environment: "{{site.env}}",
      });
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-7KLW06M68M"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-7KLW06M68M");
    </script>
    {% endif %}
    <script src="//unpkg.com/@ungap/custom-elements/es.js"></script>
    <script src="{{ '/js/bundle.js' | url }}"></script>
  </body>
</html>
